<head>
    <link rel="stylesheet" href="/css/header.css">
</head>

<header class="bg-dark">
    <nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark" id="navBar">
        <div class="container-fluid">
            <div class="d-flex w-100" id="navSectionsContainer">
                <section class="flex-section" id="navbarSectionLogo">
                    <a class="navbar-brand" href="/" id="navBarLogo">
                        <i class="fa-solid fa-house"></i>
                    </a>
                </section>
                <section class="flex-section" id="navbarSectionSearch">
                    <div class="collapse navbar-collapse" id="navbarScroll">
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                            <button class="btn btn-outline-success" type="submit" id="btnSearch">Search</button>
                        </form>
                    </div>
                </section>
                <section class="flex-section" id="navbarSectionButtons">
                    <div id="navBarButtons">

                    </div>
                </section>
            </div>
        </div>
    </nav>
    <div id="hdDivLine"></div>
</header>

<script src="/scripts/header.js"></script>
