#divProfile {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#profileDivSectTop {
    display: flex;
    justify-content: center;
}

.profileDivh3, #profileDivH2Title {
    color: whitesmoke;
}

#profileDivH2Title {
    padding-top: 15px;
}

.profileDivh3 {
    margin-left: 10px;
}
#profileDiv, #profileDivPerson {
    margin: 15px;
}

#profileDiv:hover, #profileDivPerson:hover {
    transition: 1.5s;
    box-shadow: rgb(85, 85, 85) 5px 5px 5px 5px;
}

#profileDiv {
    border-left: 1px solid rgba(0, 0, 0, 0.411);
}

#profileDivPerson {
    border-left: 1px solid rgba(0, 0, 0, 0.411);
}

.profileDivDiv {
    display: flex;
    margin: 15px;
}

.profileDivDivBottom {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
    margin-bottom: 15px;
}