<head>
    <link rel="stylesheet" href="/css/login.css">
</head>

<div id="logDivBody">
    <div id="logDivTop">
        <h1 id="logDivH1">Login</h1>
    </div>

    <div id="logDivForm">
        <form id="logForm">
            <div class="mb-3 logFmDiv">
                <label for="inputEmailLogin" class="form-label">Email:</label>
                <input type="email" class="form-control" placeholder="example@example.com" id="inputEmailLogin">
            </div>
            <div class="mb-3 logFmDiv">
                <label for="inputPasswordLogin" class="form-label">Password:</label>
                <input type="password" class="form-control" placeholder="Type your password" id="inputPasswordLogin">
            </div>
            <div id="logFormDivBtns">
                <a class="btn btn-outline-success" type="button" id="btnGoBack" value="Home" href="/">Home</a>
                <button class="btn btn-outline-success" type="button" id="btnLogin" value="Login">Login</button>
            </div>
        </form>
    </div>
</div>



<script src="/scripts/login.js"></script>